language: php

php:
  - 5.3
  - 5.4
env:
  - DB=mysql

before_script:
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database IF NOT EXISTS doctrine_tests_tmp;create database IF NOT EXISTS doctrine_tests;'; fi"
  - composer install --prefer-source --dev

script: phpunit --configuration tests/travis/$DB.travis.xml
